/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 2.5rem; }

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skew(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    padding-bottom: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0.18;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  animation: moveInBottom 0.5s ease-out 1s;
  animation-fill-mode: backwards;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.6) scaleY(1.4);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.3s; }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  color: #fff;
  background-color: #55c57a; }
  .btn--green::after {
    background-color: #55c57a; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  font-weight: 600;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0.6rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0.3rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  position: relative;
  height: 47rem;
  perspective: 100rem;
  -moz-perspective: 100rem; }
  .card__side {
    height: 30rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
    transition: all 1s ease;
    overflow: hidden; }
    .card__side--front {
      height: 100%;
      background-color: #fff; }
    .card__side--back {
      height: 100%;
      background-color: #000;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    height: 45%;
    background-size: cover;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../img/nat-7.jpg); }
  .card__heading {
    font-size: 1.85rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 12.5rem;
    right: 0;
    right: 2rem;
    width: 60%; }
  .card__heading-span {
    padding: 0.5rem 1rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details {
    padding: 1rem; }
    .card__details ul {
      list-style: none;
      width: 70%;
      margin: 0 auto; }
      .card__details ul li {
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eeeeee; }
  .card__cta {
    width: 90%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    margin-bottom: 5rem;
    color: #fff;
    text-align: center;
    display: grid; }
  .card__price-only {
    font-size: 1.6rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__photo {
    width: 52%;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    transition: all .2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 0.5rem solid #7ed56f;
      outline-offset: 1.5rem;
      transform: translateY(-0.7rem) scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 100; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 25rem;
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s; }
  .feature-box:hover {
    transform: translateY(-1.2rem) scale(1.05);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4); }
  .feature-box__icon {
    font-size: 5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.65rem;
  font-family: inherit;
  height: 5rem;
  width: 90%;
  color: inherit;
  background-color: #fff;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  display: block; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
    .form__input:focus:invalid {
      border-bottom: 3px solid #bf1d00; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.3rem;
  font-weight: 700;
  display: block;
  margin-top: 0.5rem;
  margin-left: 2rem;
  transition: 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4.2rem); }

.form__radio-group {
  width: 40%;
  display: inline-block; }
  .form__radio-group:not(:last-child) {
    margin-right: 2rem; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-button {
  width: 3rem;
  height: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.6rem; }
  .form__radio-button::after {
    content: "";
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: all 0.2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.story {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  padding: 6rem;
  padding-left: 8.5rem;
  border-radius: 3px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
  transform: skewX(-12deg);
  backface-visibility: hidden; }
  .story:not(:last-child) {
    margin-bottom: 7rem; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2.5rem) skewX(12deg);
    position: relative;
    overflow: hidden; }
  .story__image {
    height: 100%;
    transform: translateX(-3rem) scale(1.3);
    backface-visibility: hidden;
    transition: all 0.6s; }
  .story__text {
    transform: skewX(12deg); }
    .story__text p {
      font-size: 1.6rem; }
  .story__caption {
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 20%);
    transition: all 0.6s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-3rem) scale(1);
    filter: blur(5px) brightness(80%);
    backface-visibility: hidden; }

.footer {
  color: #bdbdbd;
  background-color: #333;
  padding: 11rem 0;
  font-size: 1.4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 10rem; }
  .footer__logo {
    width: 10rem; }
  .footer__navigation {
    padding-top: 1rem;
    border-top: 1px solid rgba(238, 238, 238, 0.5);
    display: inline-block; }
  .footer__list {
    list-style: none;
    display: inline-block; }
  .footer__item {
    text-transform: uppercase;
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
    .footer__item:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
      color: #55c57a;
      transform: scale(1.1) rotate(5deg); }
  .footer__copyright {
    padding-top: 1rem;
    border-top: 1px solid rgba(238, 238, 238, 0.5); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__heading-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__heading-title {
    color: #fff;
    text-transform: uppercase; }
    .header__heading-title--prim {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      margin-bottom: 1.5rem;
      animation: moveInLeft 1s ease-out; }
    .header__heading-title--sec {
      display: block;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1.74rem;
      margin-bottom: 5rem;
      animation: moveInRight 1s ease-out; }

.row {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 10rem; }
  .row:not(:last-child) {
    margin-bottom: 40px; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 40px; }
  .row .col-1-of-2 {
    width: calc((100% - 40px) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 40px) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 40px) / 4); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 40px) / 3) + 40px); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 40px) / 4) + 40px); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 40px) / 4) + 2 * 40px); }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -8rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }

.section-stories {
  padding: 20rem 0;
  position: relative; }

.section-booking {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.booking {
  width: 90%;
  margin: 0 auto;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url(../../img/nat-10.jpg);
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  .booking__form {
    width: 50%;
    padding: 6rem; }
