.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        animation: moveInBottom 0.5s ease-out 1s;
        animation-fill-mode: backwards;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 1.5rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.6) scaleY(1.4);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10rem;
        z-index: -1;
        transition: all 0.3s;
    }

    &--white {
        color: $color-grey;
        background-color: $color-white;

        &::after {
            background-color: $color-white;
        }
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $font-size-default;
        font-weight: 600;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all 0.2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0.6rem 1rem 2rem rgba($color-black, 0.2);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0.3rem 0.5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0);
    }
}
