body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey;
    padding: 2.5rem;
}

.heading-secondary {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all .2s;

    &:hover {
        transform: skew(10deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $font-size-default;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $font-size-default;

    &:not(:last-child) {
        padding-bottom: 2rem;
    }
}